@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

:root{
  --font-family : 'Permanent Marker', cursive;
  --color-white : #fff;
  --color-bright : rgba(255,255,255,0.4);
  --color-opacity : rgba(0,0,0,0.6);
  --section-font-family : 'Audiowide', cursive;

  --container-width-lg : 75%;
  --container-width-hd : 100%;
  --transition : 0.5s all ease;
  
}

body{
  font-family: var(--font-family);
  color : var(--color-white);
}

.container {
  width : var(--container-width-hd);
  height : 100vh;
  margin : 0 auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: var(--transition);
}

section{
  position: relative;
  width : 100%;
  height : 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  scroll-snap-align: start;
  font-family: var(--section-font-family);
}

section > h1{
  text-align: center;
}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

p{
  color : var(--color-white);
  font-size: 1.8rem;
}

a{
  font-size: 2rem;
  color : var(--color-white);
  transition: var(--transition);
}

a:hover{
  color : var(--color-bright);
}