.mobile_nav{
    display: none;
}

.desktop_nav{
    position: fixed;
    right : 5rem;
    width : max-content;
    height : max-content;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 0.8rem;
    top : 50%;
    transform: translateY(-50%);
    padding : 1rem 1rem;
}


.desktop_nav a{
    position: relative;
    display: flex;
    background: transparent;
    width : max-content;
    padding : 1rem;
    border-radius: 50%;
    z-index: 300;
}

.desktop_nav a.active{
    background-color: var(--color-bright);
    color : #fff;
}

@media screen and (max-width: 500px) {

    .desktop_nav{
        display: none;
    }

    .mobile_nav{
        display: block;
    }

    .mobile_nav{
        position: fixed;
        bottom : 1rem;
        width : max-content;
        height : max-content;
        z-index: 200;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap : 0.8rem;
        left : 50%;
        transform: translateX(-50%);
        padding : 1rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20rem;
    }

    .mobile_nav a{
        position: relative;
        display: flex;
        background: transparent;
        width : max-content;
        padding : 1rem;
        border-radius: 50%;
        z-index: 300;
    }
    
    .mobile_nav a.active{
        background-color: var(--color-bright);
        color : #fff;
    }
}

@media screen and (max-width: 1024px) {
    .desktop_nav{
        display: none;
    }

    .mobile_nav{
        display: block;
    }

    .mobile_nav{
        position: fixed;
        bottom : 1rem;
        width : max-content;
        height : max-content;
        z-index: 200;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap : 0.8rem;
        left : 50%;
        transform: translateX(-50%);
        padding : 1rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20rem;
    }

    .mobile_nav a{
        position: relative;
        display: flex;
        background: transparent;
        width : max-content;
        padding : 1rem;
        border-radius: 50%;
        z-index: 300;
    }
    
    .mobile_nav a.active{
        background-color: var(--color-bright);
        color : #fff;
    }
}